{% load static %}

<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="{% static 'css/base.css' %}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
</head>
<body>

    <header >
        <h3 class="color_title"><a href="{% url 'home' %}">Posts</a></h3>

    <div class="header_color">

            <h1>Postea tu informacion!!</h1>
            <hr>
    </div>
    </header>

    <div>
        {% block content %}
        

        {% endblock %}
    </div>
    
</body>
</html>