{% load static %}

<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="{% static 'css/base.css' %}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
</head>
<body>

    <header >
        <div>
            <h3 class="color_title"><a href="{% url 'home' %}">Go back</a></h3>
        </div>
        <div>
            <h3 class="color_title"><a href="{% url 'post_new' %}">New post</a></h3>
        </div>
        
        
    <div class="header_color">

            <h1>Postea tu informacion!!</h1>
            <hr>
    </div>
    </header>

    <div>
        {% block content %}
        

        {% endblock %}
    </div>
    
    <h4><a href="{% url 'consejos' %}">Consejos del pana julio</a></h4>
</body>
</html>